<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <div class="body">
        <div class="menu">
            
            <a href="#contact_us"><input type="button" value="CONTACT US"></a>
            <a href="#about_us"><input type="button" value="ABOUT US"></a>
            <a href="#home"><input type="button" value="HOME" ></a>

        </div>
        <div id="home">
            <img src="static/images/1.jpg" alt="">
            <div class="head2">
                <i class="i1">"Stay hungry, stay foolish"</i>
                <br><br><br>
                <i class="i1">"I am not handsome but i can give my hand to someone who needs help...
                    Because beauty is required in heart not in face..."</i>
            </div>
        </div>
        <div id="about_us">
            <i>About us</i>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                Fugit quae repellendus porro labore vitae voluptates quia distinctio omnis 
                fugiat sequi qui tempora, quis deserunt laboriosam rem quas, asperiores 
                corrupti officiis! Iure eius voluptatum, deleniti quaerat magnam numquam 
                ducimus possimus consectetur officiis ratione? Eius aspernatur quo eum aut 
                corrupti consectetur dignissimos perferendis, possimus praesentium sint maxime, 
                velit molestiae quaerat libero? Quisquam nostrum rerum dolore harum consequatur molestias dolor officia dolorem laboriosam?</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                    Fugit quae repellendus porro labore vitae voluptates quia distinctio omnis 
                    fugiat sequi qui tempora, quis deserunt laboriosam rem quas, asperiores 
                    corrupti officiis! Iure eius voluptatum, deleniti quaerat magnam numquam 
                    ducimus possimus consectetur officiis ratione? Eius aspernatur quo eum aut 
                    corrupti consectetur dignissimos perferendis, possimus praesentium sint maxime, 
                    velit molestiae quaerat libero? Quisquam nostrum rerum dolore harum consequatur molestias dolor officia dolorem laboriosam?</p>
    

   

        </div>
        <div id="contact_us">
            <i>Contact us</i>
            <p> <i>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Expedita, molestiae temporibus. Consectetur, illum, 
                nisi fuga ipsum adipisci possimus deserunt voluptas labore 
                commodi molestiae dicta eos aliquid voluptatem! Officiis, 
                maiores at.</p></i>
            <p><i>email:info@gmail.com</i></p>
            
        </div>
     
    </div>

</body>
</html>